/** 
 * Defines the Css style for the resume
 */

body {
  --black: #000000;
  --background-color: #17181B;
  --border-color: #0E1013;
  --text-color: #80868B;
  --cell-back-color: #202124;
  --active-border-color: #4C4F51;
  color: var(--text-color);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background-color); 
  width: 50%;
}

::-webkit-scrollbar-thumb {
  background: var(--border-color); 
  width: 5px;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text-color); 
}

/* Title  - Resume */
.title-section {
  position: absolute;
  top: 2%;
  max-height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-field {
  font-weight: bold;
  font-size: 2vw;
  text-decoration: underline overline;
}

/* Main Content */
.main-section {
  margin-top: 5%;
  flex-grow: 1;
  width: 100%;
  min-height: 80%;
  padding: 1rem;
  display: flex;
  justify-content: left;
  align-items: top;
}

/* Text / Description section */
.text-section {
  flex-grow: 1;
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-field {
  position: relative;
  float: center;
  width: 95%;
  margin: 1%;
  font-size: 1vw;
  text-align: justify;
}

/* Info section */
.info-section {
  height: 100%;
  width: 20%;
  padding: 1rem;
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-field {
  flex-grow: 1;
  max-height: 50%;
  width: 100%;
  border-radius: 1vw;
  border: 0.3vw solid var(--border-color);
  filter: brightness(50%);
}

.general-info-section {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-field {
  position: relative;
  width: 100%;
  margin: 1.5%;
  font-weight: bold;
  font-size: 0.8vw;
  text-align: left;
}

/* Social links */
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2%;
}

.link {
  color: var(--active-border-color);
  margin: 5%;
}

.link:hover {
  color: var(--text-color);
  scale: 120%;
}

.link:active {
  color: var(--border-color);
}

/* Sub-modals  - Entertainment */
.modal-vertical {
  background: var(--background-color);
  border: 0.3vw solid var(--border-color);
  border-radius: 1vw;
  margin: 1%;
  width: 40%;
  height: 95%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-horizontal {
  background: var(--background-color);
  border: 0.3vw solid var(--border-color);
  border-radius: 1vw;
  width: 90%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.description-field {
  width: 90%;
  font-size: 1vw;
  text-align: justify;
}

.button-field {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}

.home-button {
  color: var(--active-border-color);
  position: absolute;
  float: left;
  top: 0;
  left: 0;
  margin: 1%;
  scale: 120%;
  z-index: 105;
}

.home-button:hover {
  color: var(--text-color);
  scale: 150%;
}

.home-button:active {
  color: var(--border-color);
}
