/** 
 * css style for cells - i.e. buttons, inputs, drop-downs, etc.
 */

:root {
  --background-color: #17181B;
  --cell-back-color: #202124;
  --border-color: #0E1013;
  --active-border-color: #4C4F51;
  --text-color: #80868B;
}

.generic-object {
  background: var(--cell-back-color);
  border-radius: 0.8vw;
  margin: 0.25%;
  position: relative;
  width: 8vw;
  height: 4.5vh;
}

/* Buttons */
.button-object {
  background: var(--cell-back-color);
  border: 0.2vw solid var(--border-color);
  border-radius: 0.4vw;
  margin: 0.8%;
  margin-bottom: 4%;
  position: relative;
  width: 12vw;
  height: 7vh;
  font-size: 1.2vw;
  color: var(--text-color);
}

.button-object:hover {
  border-color: var(--active-border-color);
  scale: 102%;
  cursor: pointer;
}

.button-object:active {
  background: var(--border-color);
  scale: 98%;
}

.button-header {
  background: var(--background-color);
  border: 0;
  border-left: 0.2vw solid var(--border-color);
  border-bottom: 0.2vw solid var(--border-color);
  position: relative;
  width: 12vw;
  height: 8vh;
  font-size: 1.5vw;
  color: var(--text-color);
}

.button-header:hover {
  background: var(--cell-back-color);
  cursor: pointer;
}

.button-header:active {
  background: var(--border-color);
}

.button-left-arrow {
  position: relative;
  margin: 0.75vw;
  background: transparent;
	width: 1vw;
  height: 1vw;
	border: 0.6vw solid;
	border-color: 
    transparent
		var(--active-border-color)
		var(--active-border-color)
		transparent;
	transform: rotate(-45deg);
}

.button-left-arrow:hover {
  border-right-color: var(--text-color);
  border-bottom-color: var(--text-color);
  scale: 120%;
  cursor: pointer;
}

.button-left-arrow:active {
  border-right-color: var(--cell-back-color);
  border-bottom-color: var(--cell-back-color);
}

.button-right-arrow {
  position: relative;
  margin: 0.75vw;
  background: transparent;
	width: 1vw;
  height: 1vw;

	border: 0.6vw solid;
	border-color: 
    transparent
		transparent
		var(--active-border-color)
		var(--active-border-color);
	transform: rotate(45deg);
}

.button-right-arrow:hover {
  border-left-color: var(--text-color);
  border-bottom-color: var(--text-color);
  scale: 120%;
  cursor: pointer;
}

.button-right-arrow:active {
  border-left-color: var(--border-color);
  border-bottom-color: var(--border-color);
}

/* Inputs */
.input-object {
  background: var(--cell-back-color);
  border: 0.2vw solid var(--border-color);
  border-radius: 0.5vw;
  margin: 0.25%;

  position: relative;
  float: center;
  height: 2vh;
  color: var(--text-color);
}

.input-object:hover {
  border-color: var(--active-border-color);
}

.input-title {
  position: relative;
  float: center;
  margin: 0.3%;
  width: 10vw;
  font-size: 1vw;
}