/** 
 * css style for Navigator header strip
 */

body {
  --background-color: #17181b;
  --border-color: #0e1013;
  --text-color: #80868b;

  color: var(--text-color);
  align-items: center;
}

.header-strip {
  background: var(--background-color);
  border-bottom: 0.5vh solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8%;
  z-index: 100;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.title {
  flex-grow: 1;
  position: absolute;
  left: 5%;
  font-weight: bold;
  font-size: 2vw;
  text-decoration: underline;
  z-index: 101;
}

.buttons {
  float: center;
  flex-grow: 1;
  height: 8%;
  display: flex;
  justify-content: right;
  align-items: center;
  z-index: 101;
}
